<div class="container-fluid">
  <h1>Registro de Estudio</h1>
  <form #userform="ngForm">



    <div class="form-group">
      <label for="" class="form-label">Nombre</label>
      <input style="width: 50%;" #name name="username" id="" class="form-control" placeholder="Ingrese su nombre..."
        [(ngModel)]="userModel.name">
      {{name.className}}

    </div>
    <div class=" form-group">
      <label for="" class="form-label">Email</label>
      <input style="width: 50%;" type="email" name="useremail" id="" class=" form-control"
        placeholder="Ingrese su email..." [(ngModel)]="userModel.email">
    </div>

    <div class=" form-group">
      <label for="" class="form-label">Phone</label>
      <input style="width: 50%;" type="tel" name="userphone" id="" class="form-control"
        placeholder="Ingrese su telefono..." [(ngModel)]="userModel.phone">
    </div>

    <div class=" form-group">
      <label for="" class="form-label">Elija Materia</label> <br>
      <select style="width:50%" class="custom-select" name="materia" [(ngModel)]="userModel.topic">
        <option selected>Estoy interesado en</option>
        <option *ngFor=" let materia of topics; let i=index"> {{topics[i]}}</option>
      </select>
    </div>

    <div class="form-check">
      <input type="radio" class="form-check-input" [(ngModel)]="userModel.timepreference" name=" timepreference "
        value=" mañana">
      <label class="form-check-label">Mañana (8 - 10)</label>
    </div>

    <div class="form-check">
      <input type="radio" class="form-check-input" name="timepreference" value="tarde"
        [(ngModel)]="userModel.timepreference">
      <label class=" form-check-label">Tarde (16 - 18)</label>
    </div>

    <div style="margin-top: 10px;" class="form-check">
      <input type="checkbox" class="form-check-input" name="promo" id="" value="suscribirse"
        [(ngModel)]="userModel.suscribe">
      <label class=" form-check-label" for="">Enviarme ofertas de promociones</label>
    </div>

    <button style="margin-top: 10px;" type="button" class="btn btn-primary">Registrar</button>
  </form>
</div>
